<a href="https://colab.research.google.com/github/abhishekatujjain/Python/blob/master/5_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Printing
name = "Abhishek"
mname = "Singh"
lname = "Rathore"
print(name,mname,lname)
#Automatic Spacing

Abhishek Singh Rathore

In [ ]:
print(lname, ",",name,mname)

Rathore , Abhishek Singh

In [ ]:
# to remove the space before comma
print(lname+",",name,mname)

Rathore, Abhishek Singh

In [ ]:
# Separator other than whitespace
print(name,mname,lname,sep="_")
print("Karan","Arjun",sep="-")

Abhishek_Singh_Rathore
Karan-Arjun

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
# Problem with above statement is that end of string is new line character
# custom endline character
print("Hello", end="!")
print("World")

Hello!World

In [ ]:
# Importing Something
import somemodule
or use
from somemodule import somefunction
or
from somemodule import somefunction, anotherfunction, yetanotherfunction
or
from somemodule import *

In [ ]:
import math as foo
foo.sqrt(4)

2.0

In [ ]:
from math import sqrt as foo1
foo1(2)

1.4142135623730951

In [ ]:
#Assignment Magic
x,y,z = 1,2,3
print(x,y,z)

1 2 3

In [ ]:
#swapping
x,y =y,x
print(x,y)

2 1

In [ ]:
values = 1,2,3
print(values)
a,b,c = values
print(a,b,c)

(1, 2, 3)
1 2 3

In [ ]:
#But the problem is
a,b,c =1,2

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
#Right from dictonary too
scoundrel = {'name': 'Robin', 'girlfriend': 'Marion'}
key, value = scoundrel.popitem()
print(key)
print(value)

girlfriend
Marion

In [ ]:
a, b, *rest = 1,2,3,4,5

In [ ]:
print(rest)

[3, 4, 5]

In [ ]:
name = "Gangadhar Vidyadhar Mayadhar Omkarnath Shastri"
fname,*middle, avainame, lname = name.split()
print(fname)
print(middle)
print(lname)

Gangadhar
['Vidyadhar', 'Mayadhar', 'Omkarnath']
Shastri

In [ ]:
# starred item is list in any case
a,b,c = 'abc'
print(a,b,c)
a,*b,c = 'abc'
print(a,b,c)
a,b,c = 'ac'
print(a,b,c)

a b c
a ['b'] c

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
#Chained Assignment
x = y= foo1(4)
print(x,y)

# this is equals to 
# y = foo1()
# x= y

2.0 2.0

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
print(True == 1)
print(False == 0)
print(True == 98)
print(False == -1)

True
True
False
False

In [ ]:
True + False + 42

43

In [ ]:
bool("I think, becoz i can")

True

In [ ]:
bool("")

False

In [ ]:
bool(42)

True

In [ ]:
bool(0)

False

In [ ]:
# Conditions
# Carefull about indentations and :
name = input("Enter your name")
if name.endswith('k'):
  print("Hello", name)

Enter your nameabhishek
Hello abhishek

In [ ]:
# else clause
name = input("Enter your name")
if name.endswith('k'):
    print("Hello")
else:
    print("Hello Stranger")

Enter your name AbhishekK

Hello Stranger

In [ ]:
# Ternary Operator
status = "friend" if name.endswith("ek") else "stranger"
print(status)

friend

In [ ]:
# elif clause
num = int(input('Enter a number: '))
if num > 0:
    print('The number is positive')
elif num < 0:
    print('The number is negative')
else:
    print('The number is zero')

Enter a number:  0

The number is zero

In [ ]:
# The Python Comparison Operators
x == y x equals y.
x < y x is less than y.
x > y x is greater than y.
x >= y x is greater than or equal to y.
x <= y x is less than or equal to y.
x != y x is not equal to y.
x is y x and y are the same object.
x is not y x and y are different objects.
x in y x is a member of the container (e.g., sequence) y.
x not in y x is not a member of the container (e.g., sequence) y.

In [ ]:
x = y = [1, 2, 3]
z = [1, 2, 3]
print(x is y)
print(x is z)
print(x is not z)

True
False
True

In [ ]:
# String and Sequence Comparisons
"alpha" < "beta"

True

In [ ]:
"alpha" < "Beta"

False

In [ ]:
[1, 2] < [2, 1]

True

In [ ]:
[1, 2, 1] < [2, 1]

True

In [ ]:
[2, [1, 4]] < [2, [1, 5]]

True

In [ ]:
abhi
abha

In [ ]:
# Assertions: Just a check point
age = 101
assert 0 < age < 100, "Age should be positive"

AssertionError: ignored

In [ ]:
# while loop
x = 1
while x <= 100:
    print(x)
    x += 20

1
21
41
61
81

In [ ]:
name = ''
while not name:
    name = input('Please enter your name: ')
print('Hello, {}!'.format(name))

Please enter your name:
Please enter your name:
Please enter your name:
Please enter your name: harendra
Hello, harendra!

In [ ]:
# for loops
words = ['this', 'is', 'an', 'ex', 'parrot']
for word in words:
    print(word)

this
is
an
ex
parrot

In [ ]:
list(range(0, 10,2))

[0, 2, 4, 6, 8]

In [ ]:
for number in range(1,101,20):   # change 101 by 102
    print(number)

1
21
41
61
81

In [ ]:
# Iterating Over Dictionaries
d = {'x': 1, 'y': 2, 'z': 3}
for key in d:
    print(key, 'corresponds to', d[key])

x corresponds to 1
y corresponds to 2
z corresponds to 3

In [ ]:
# the better way
for key, value in d.items():
    print(key, 'corresponds to', value)

x corresponds to 1
y corresponds to 2
z corresponds to 3

In [ ]:
# Parallel Iterations between two lists
names = ['anne', 'beth', 'george', 'damon']
ages = [12, 45, 32, 102]
i =0
while i<len(names):
    print(names[i], 'is', ages[i], 'years old')
    i+=1

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

In [ ]:
# with for loop
for i in range(len(names)):
    print(names[i], 'is', ages[i], 'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

In [ ]:
zip(names,ages)

In [ ]:
# the better way
for name, age in zip(names, ages):
    print(name, 'is', age, 'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

In [ ]:
# what is zip: “zips” together the sequences, returning a sequence of tuples
list(zip(names, ages))

[('anne', 12), ('beth', 45), ('george', 32), ('damon', 102)]

In [ ]:
# zip even works when sequence is of differet lengths too
list(zip(range(5), range(100000000)))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [ ]:
# Numbered Iteration
strings = "Abhishek Singh Rathore Anuraj Ajay Amit Veer".split()
for string in strings:
    if 'Anuraj' in string:
        index = strings.index(string) # Search for the string in the list of strings
        strings[index] = 'Icy'
print(strings)

['Abhishek', 'Singh', 'Rathore', 'Icy', 'Ajay', 'Amit', 'Veer']

In [ ]:
# easier way
index = 0
for string in strings:
    if 'Veer' in string:
        strings[index] = "Hello_Veer"
        index += 1
print(strings)

['Hello_Veer', 'Singh', 'Rathore', 'Icy', 'Ajay', 'Amit', 'Veer']

In [ ]:
# Problem. Solution: iterate over index-value pairs
strings = "Abhishek Singh Rathore Anuraj Ajay Amit Veer".split()
for index, string in enumerate(strings):
    if 'Veer' in string:
        strings[index] = 'Hello_Veer'
print(strings)

['Abhishek', 'Singh', 'Rathore', 'Anuraj', 'Ajay', 'Amit', 'Hello_Veer']

In [ ]:
#Reversed and Sorted Iteration: we will get list
print(sorted([4, 3, 6, 8, 3]))
print(sorted('Hello, world!'))

[3, 3, 4, 6, 8]
[' ', '!', ',', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [ ]:
# Reverse a String
print(list(reversed('Hello, world!')))
print(''.join(reversed('Hello, world!')))

['!', 'd', 'l', 'r', 'o', 'w', ' ', ',', 'o', 'l', 'l', 'e', 'H']
!dlrow ,olleH

In [ ]:
# Breaking loop
from math import sqrt
for n in range(99, 0, -1):
    root = sqrt(n)
    if root == int(root):
        print(n)
        break

81

In [ ]:
# continue

In [ ]:
# else Clauses in Loops
from math import sqrt
for n in range(99, 81, -1):
    root = sqrt(n)
    if root == int(root):
        print(n)
        break
else:                                 # check when this else is matched with if
        print("Didn't find it!")

Didn't find it!

In [ ]:
# List comprehensions
[x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x*x for x in range(10) if x % 3 == 0]

[0, 9, 36, 81]

In [ ]:
# more for
[(x, y, z) for x in range(2) for y in range(2) for z in range(2)]

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [ ]:
result = []
for x in range(2):
    for y in range(2):
        for z in range(2):
            result.append((x, y, z))

In [ ]:
print(result)

[(0, 0, 0), (0, 0, 1), (0, 1, 0), (0, 1, 1), (1, 0, 0), (1, 0, 1), (1, 1, 0), (1, 1, 1)]

In [ ]:
# Make a pair, with first character of both girls and boys
girls = ['alice', 'bernice', 'clarice']
boys = ['chris', 'arnold', 'bob']
[b+'+'+g for b in boys for g in girls if b[0] == g[0]]

['chris+clarice', 'arnold+alice', 'bob+bernice']

In [ ]:
#Dictionary Comprehension
squares = {i:"{} squared is {}".format(i, i**2) for i in range(10)}
print(squares)

{0: '0 squared is 0', 1: '1 squared is 1', 2: '2 squared is 4', 3: '3 squared is 9', 4: '4 squared is 16', 5: '5 squared is 25', 6: '6 squared is 36', 7: '7 squared is 49', 8: '8 squared is 64', 9: '9 squared is 81'}

In [ ]:
squares[8]

'8 squared is 64'

In [ ]:
#Nothing Happened
# pass
for i in range(0,10):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

In [ ]:
# Deleting with del
scoundrel = {'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}
robin = scoundrel
scoundrel

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [ ]:
robin = None
print(robin)

None

In [ ]:
print(scoundrel)

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [ ]:
scoundrel = None
# {'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'} is still available in memory

In [ ]:
# Therefore, delete the object
x= 1
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
x = ["hello","world"]
y =x
y[1] = "Python"
print(x)

['hello', 'Python']

In [ ]:
del x
print(y)

['hello', 'Python']

In [ ]:
# exec The exec function is used to execute a string
exec("print('Hello World')")

Hello World

In [ ]:
from math import sqrt
exec("sqrt = 4")
sqrt

4

In [ ]:
sqrt(4)

TypeError: 'int' object is not callable

In [ ]:
from math import sqrt
scope = {}
exec('sqrt = 1', scope)
sqrt(4)
scope['sqrt']

1

In [ ]:
sqrt(4)

2.0

In [ ]:
sqrt

In [ ]:
#Evaluate
eval(input("Enter an arithmetic expression: "))

Enter an arithmetic expression:  6+4*2

14

In [ ]:
scope = {}
scope['x'] = 2
scope['y'] = 3
eval('x * y', scope)

6

In [ ]:
scope = {}
exec('x = 2', scope)
eval('x * x', scope)

4